.pagination{
    height: 44px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.btnSet{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
}

.btn, .pageBtn, .dots{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid rgba(38, 38, 38, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #262626;
}

.icon{
    width: 20px;
    height: 44px;
    fill: currentColor;
    stroke: currentColor;
    margin-top: -6px;
}

.btn:disabled,
.pageBtn:disabled {
    color: rgba(38, 38, 38, 0.2);
}

.pageSet{
    min-width: 100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.active{
    border: 1px solid #F6B83D;
    background-color: #F6B83D;
    color: #fff;
}