    .card{
        width: 361px;
    }

    .img{
        width: 100%;
        height: 226px;
        border-radius: 15px;
        margin-bottom: 28px;
    }

    .title{
        font-size: 20px;
        height: 52px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.03em;
        margin-bottom: 14px;
    }

    .details{
        height: 80px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.02em;
        margin-bottom: 28px;

        display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
    }

    .info{
        width: 100%;
        height: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .date{
        font-weight: 500;
        line-height: 20px;
        opacity: 50%;
        letter-spacing: -0.02em;
    }

    .link{
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-decoration: underline;
        color: #F6B83D;
    }

