.userCard{
    width: 520px;
    padding: 40px;
    border-radius: 60px;
    background-color: #fff;
    position: relative;
}

.userTag{
    width: 80px;
    height: 38px;
    position: absolute;
    top: 40px;
    left: 40px;
    border-radius: 30px;
    background-color: #F6B83D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.icon{
    width: 18px;
    height: 18px;
}

.wrap{
    width: 110px;
    margin: 0 auto 20px auto;
}

.avatar{
    width: 110px;
    height: 110px;
    background-color: #FFF4DF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 50%;
}

.userIcon{
    width: 110px;
    margin-bottom:8px;
    height: 110px;
}

.upload{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: center;
    text-decoration: underline;
}

.infoTitle{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 40px;
}

.infoField{
    height: 52px;
    border-radius: 30px;
    border: 1px solid rgba(38, 38, 38, 0.15);
    padding: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.03em;
}

.exist{
    border-color: #F6B83D;
}

