.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(17, 17, 17, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    position: relative;
    width: 480px;
    padding: 50px;
    background: #fff;
    border-radius: 20px;
}

.closeBtn {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.icon {
    width: 12px;
    height: 12px;
    --color2: #262626;
}

.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
}

.wrap{
    width: 86px;
    height: 86px;
    margin: 0 auto 12px auto;
}
.avatar,
.userIcon{
    width: 86px;
    height: 86px;
    border-radius: 50%;
}

.form{
    width: 100%;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputAvatar{
    width: 226px;
    height: 42px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #F6B83D;
    margin-bottom: 6px;
    padding: 12px;
}

.uploadBtn{
    width: 146px;
    height: 42px;
    border-radius: 30px;
    background-color: #FFF4DF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3ms ease-in-out;
}

.uploadBtn:hover{
    background-color: #FBE7C1;
}

.input{
    width: 100%;
    height: 52px;
    padding: 16px;
    outline: none;
    border-radius: 30px;
    border: 1px solid #F6B83D;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.03em;
}

.saveBtn{
    width: 100%;
    height: 52px;
    border-radius: 30px;
    background-color: #F6B83D;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.03em;
    transition: background-color 0.3ms ease-in-out;
}

.saveBtn:hover{
    background-color: #F9B020;
}

.error{
    font-size: 10px;
    color: red;
    padding-left: 20px;
}

.localWarning {
    font-size: 10px;
    color: red;
    padding-left: 15px;
    margin-top: -15px;
}