.form{
    width: 424px;
    margin-bottom: 16px;
}

.input{
    width: 100%;
    height: 52px;
    padding: 16px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    margin-bottom: 16px;
    transition: border-color 0.2s ease;
}

.input:focus{
    border-color: #F6B83D;
}

.error{
    border-color: #EF2447 !important;
}

.success {
    border-color: #00c172 !important;
}

.eyeIcon {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-70%);
    fill: #f6b83d;
    cursor: pointer;
    z-index: 2;
}

.stateIcon {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-70%);
    z-index: 2;
}

.stateIconBeforeEye {
    right: 52px;
}

.stateIconRight {
    right: 20px;
}

.errorMessage {
    font-size: 10px;
    color: red;
    margin-top: -15px;
    padding-left: 20px;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.errorIcon {
    fill: #ef2447;
}

.successIcon {
    fill: #00c172;
}

.btn{
    width: 100%;
    height: 52px;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    background-color: #F6B83D;
    border-radius: 30px;
    margin-top: 48px;
    transition: background-color 0.2ms ease-in-out;
}

.btn:hover{
    background-color: #F9B020;
}