.header{
    width: 1280px;
    height: 112px;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 12px 12px;
    padding: 0 64px;
    position: static;
}

.headerHome{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 1280px;
    height: 112px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 12px 12px;
    padding: 0 64px;
}