.wrap{
    min-width: 107px;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.avatar, .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.name{
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.03em;
    cursor: pointer;
}

.nameHome{
    font-size: 20px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: -0.03em;
        color: #fff;
}