.card {
    width: 363px;
    padding: 24px;
    border-radius: 16px;
    background-color: #fff;
}

.img {
    width: 100%;
    height: 178px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 24px;
}

.titleWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.rating{
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
}

.icon{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.param{
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.5);
}

.paramDetail{
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.02em;
}

.comment{
    height: 36px;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
}

.price{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.btnWrap{
    display: flex;
    justify-content: space-between;
}

.moreBtn{
    width: 257px;
    height: 48px;
    border-radius: 30px;
    background-color: #F6B83D;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.03em;
    transition: background-color 0.3ms ease-in-out;
}

.moreBtn:hover{
    background-color: #F9B020;
}

.favBtn{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #FFF4DF;
    transition: background-color 0.3ms ease-in-out;
    padding: 17px;
}

.favBtn:hover{
    background-color: #FBE7C1;
}

.icon{
    width: 16px;
    height: 16px;
}