.wrap {
    position: relative;
    width: 280px;
}

.inputBox {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    height: 48px;
    padding: 14px 48px 14px 16px;
    border-radius: 30px;
    border: 1px solid #f6b83d;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #262626;
    letter-spacing: -0.03em;
}

.input:placeholder-shown{
    border: none;
}

.input::placeholder {
    color: #262626;
    font-weight: 500;
}

.clearBtn {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 44px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    --color2: #000;
}

.searchBtn {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    fill: transparent;
    stroke: #262626;
}

.dropdown {
    position: absolute;
    width: 100%;
    top: 58px;
    background: #fff;
    padding: 12px;
    border-radius: 20px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07);
    z-index: 20;
}

.dropdown li {
    padding: 10px 6px;
    font-size: 18px;
    cursor: pointer;
    color: rgba(38, 38, 38, 0.6);
}

.dropdown li b {
    color: #262626;
}

.dropdown li:hover {
    background: #fafafa;
    border-radius: 12px;
}

.icon{
    width: 16px;
    height: 16px;
}

.iconSearch{
    width: 18px;
    height: 18px;
}