.section{
    width: 100%;
    height: 100vh;
    background-image: image-set(
        url("/img/hero.jpg") 1x,
        url("/img/hero@2x.jpg") 2x
    );
    background-size: cover;
    background-position: center;
}