.addPet{
    width: 118px;
    height: 40px;
    background-color: #F6B83D;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.03em;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    border-radius: 30px;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3ms ease-in-out;
}

.icon{
    width: 18px;
    height: 18px;
}

.addPet:hover{
background-color: #F9B020;
}