.nav {
    display: flex;
    gap: 10px;
}

.navLink {
    height: 50px;
    padding: 15px 20px;
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    transition: border-color 0.3s ease-in;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.navLink:hover {
    border-color: #F6B83D;
}

.isActive {
    border-color: #F6B83D;
}

.navLinkHome{
    height: 50px;
    padding: 15px 20px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    transition: all 0.3s ease-in;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.navLinkHome:hover {
    background-color: #FFF4DF;
    color: #F6B83D;
}