.wrapper{
    width: 100%;
    height: 654px;
    border-radius: 60px;
    background-color: #F6B83D;
    padding: 109px 283px;
}

.title{
    font-size: 300px;
    font-weight: 800;
    line-height: 300px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 40px;
}

.img{
    width: 280px;
    height: 280px;
    background-color: #F9B020;
    border-radius: 50%;
    background-image: image-set(
        url("/img/404.png") 1x,
        url("/img/404@2x.png") 2x
    );
}

.text{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.03em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.homeBtn{
    width: 162px;
    height: 48px;
    border-radius: 30px;
    background-color: #FFF4DF;
    display: block;
    text-align: center;
    color: #F6B83D;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.03em;
    margin: 0 auto;
    transition: all 0.3ms ease-in-out;
}

.homeBtn:hover{
    background-color: #FBE7C1;
}